main{
    background-color: rgb(192, 188, 182);
    display:grid;
    grid-template-columns:1fr;
    grid-template-areas: 
        "header"
        "content"
        "picture-tag"
        "footer";
}
.header{
    grid-area: header;
    background-color: black;
    color: white;
    display:grid;
    grid-template-columns:1fr auto;
    grid-template-areas: 
    "h1 pic"
    "h4 pic";
}
.header h2{
    text-align: center;
    justify-self: center;
    align-self: end;
    grid-area: h1;
    margin-bottom: 3px;
}
.header h4{
    text-align: center;
    justify-self: center;
    grid-area: h4;
    margin-top: 2px;
}
.header img{
    grid-area:pic;
    max-height:300px;
    max-width:300px;
    margin-right: 100px;
    background-color: darkgoldenrod;
}

.main-container{
    display:grid;
    grid-area: content;
    max-width:700px;
    justify-self: center;
}
.main-container li{
    padding:10px;
    font-size: large;
}
.main-container h3{
    text-align: center;
    justify-self: center;
    font-size: x-large;
}

.picture{
    grid-area:picture-tag;
    background-color: darkgray;
    display:grid;
    margin: 8px 8px 8px 8px;
}
.picture img{
    justify-self: center;
    margin-top:10px;
}
.picture p{
    background-color: rgb(138, 134, 134);
    margin-top:3px;
    padding:5px;
    text-align: center;
    border-radius: 15px;
}

.footer{
    grid-area:footer;
    background-color: black;
    color: white;
    display:grid;
}
.footer h3{
    justify-self: center;
    text-align: center;
}
.footer a{
    color:white;
    text-decoration: none;
}
.footer a:hover{
    color:wheat;
}

