main{
    /*background-color: #facc6b;*/
    background:url("https://img.wallpapersafari.com/tablet/2560/1700/69/57/IaNMCE.jpg");
    
    display:grid;
    grid-template-columns:1fr;
    grid-template-areas: 
        "header"
        "context"
        "picture-tag"
        "footer";
}
.header{
    grid-area: header;
    /*background-color: black;*/
    background: url("images/abstract-black-luxury-fabric-background-with-copy-space_46250-2302.jpg");
    background-size: cover;
    color: white;
    display:grid;
    grid-template-columns:1fr auto;
    grid-template-areas: 
    "h1 pic"
    "h4 pic";
}
.header h2{
    text-align: center;
    justify-self: center;
    align-self: end;
    grid-area: h1;
    margin-bottom: 3px;
}
.header h4{
    text-align: center;
    justify-self: center;
    grid-area: h4;
    margin-top: 2px;
}
.header img{
    grid-area:pic;
    max-height:300px;
    max-width:300px;
    margin-right: 100px;
}

@media (max-width:750px){
.header{
    grid-template-columns:1fr;
    grid-template-areas: 
    "h1"
    "h4"
    "pic";
}
.header img{
    justify-self: center;
    max-height:200px;
    max-width:200px;
    margin-right: 0px;
}
}

.main-container{
    display:grid;
    grid-area: context;
    max-width:700px;
    justify-self: center;
}
.main-container li{
    padding:10px;
    font-size: 1em;
    
}
.main-container h3{
    color: black;
    text-align: center;
    justify-self: center;
    font-size: 1.25em;
}

@media (min-width:750px){
    .main-container li{
        font-size: large;
    }
    .main-container h3{
        font-size: x-large;
    }
}

.picture{
    grid-area:picture-tag;
    background-color: darkgray;
    display:grid;
    margin: 8px 8px 8px 8px;
}
.picture img{
    justify-self: center;
    margin-top:10px;
}
.picture p{
    background-color: rgb(138, 134, 134);
    margin-top:3px;
    text-align: center;
    border-radius: 15px;
    padding:5px;
}

@media(max-width:750px){
    .picture img{
        height:200px;
        width:200px;
    }
}

.footer{
    grid-area:footer;
    background-image: url("images/abstract-black-luxury-fabric-background-with-copy-space_46250-2302.jpg");
    background-size: cover;
    color: white;
    display:grid;
}
.footer h3{
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    justify-self: center;
    text-align: center;
}
.footer a{
    color:white;
    text-decoration: none;
}
.footer a:hover{
    color:wheat;
}

